.logout-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  gap: 10px;
  position: absolute;
  right: 150px;
  top: 35px;
}

.logout-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logout-container img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.logout-container button {
  font-size: 14px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #3897f0;
  &:hover {
    color: #0084ff;
  }
}

.logout-container span {
  font-size: 14px;
  cursor: pointer;
}

.username {
  font-weight: bold;
}
